{% extends 'webapp/base.html' %}

{% block content %}
  <h2>Riggeliste</h2>
  <p>Klikk på bandnavnene for mer informasjon...</p>
  {% for konsert in konserts %}
    <div class="col-sm-4">
      <h1 class="konsertheader ">{{konsert}}</h1>
      <div class="teknikerdiv">
        <p>Teknikere:</p>
        {% for tekniker in konsert.teknikere.all %}
        <p>{{tekniker}}</p>
        {% empty %}
        <p>Ingen tekniker satt opp</p>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  {% if konserts|length == 0 %}
  <p>Ingen konserter satt opp</p>
  {% endif %}

{% endblock %}
