{% load static %}
{% load groupAccess %}
<!DOCTYPE html>
<html lang="no-nb">
<head>
	<title>Fixival - {{ request.user.groups.all.0 }}</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<meta charset="latin1"/>
</head>
<body>
	<ul id="navbar">
		{% if request.user|has_group:"arrangoer" %}
			<li><a href="{% url 'arrangoer' %}">Hjem</a></li>
			<li><a href="{% url 'webapp/sceneoversikt' %}">Sceneoversikt</a></li>
			<li><a href="{% url 'webapp/riggeliste' %}">Riggelister</a></li>
		{% endif %}
		{% if request.user|has_group:"bookingansvarlig" %}
			{% if request.user.groups.all.count == 1 %}
				<li><a href="{% url 'bookingansvarlig' %}">Hjem</a></li>
			{% endif %}
			<li><a href="{% url 'webapp/bookingansvarlig_tidligere_konserter' %}">Tidligere konserter</a></li>
			<li><a href="{% url 'webapp/bookingansvarlig_tekniske_behov' %}">Tekniske behov</a></li>
            <li><a href="{% url 'webapp/bookingansvarlig_artister' %}">Artist</a></li>
		{% endif %}
		{% if request.user|has_group:"teknikker" %}
			<li><a href="{% url 'teknikker' %}">Tekniker</a></li>
		{% endif %}
		<li><a href="{% url 'logout' %}">Log out</a></li>
	</ul>
	<div id="content">
	{% block content %}
	{% endblock %}
	</div>

	<script src="{% static 'js/dropdown.js' %}"></script>
	<script src="{% static 'js/bookingansvarlig/show_konsert.js' %}"></script>

</body>
</html>
