{% extends 'webapp/base.html' %}

{% block content %}
    {% for bestilling in uvurderte_bestillinger %}

        <div>
            #Opprette liste her
            <h1>{{bestilling}}</h1>
            <p>Dato: {{bestilling.dato}} </p>
            <p>Scene: {{bestilling.scene}} </p>
            <p>Pris: {{bestilling.pris}} </p>

            # Radiobutton for godkjenning. Oppdatere videre database
            # Radio: Godkjent, ikke godkjent
            # Submit på denne, javascript kjører på denne i bakgrunnen?
        </div>


    {% endfor %}
{% endblock %}