{% extends 'webapp/base.html' %}
{% block content %}
  <h2>Tekniske behov</h2>
  <p>Klikk på bandnavnene for mer informasjon...</p>
  <div class="row">
  {% for band in bands %}
    <div class="col-sm-4">
      <h1 class="bandheader">{{band.navn}}</h1>
      <div class="utstyrdiv">
        <h3>Utstyr:</h3>
        <ul>
          {% for backln in backline %}
          {% if backln.band == band %}
            <li><p>{{backln}}</p></li>
              <ul>
                {% for behv in behov %}
                {% if behv.backline == backln and behv.band == band %}
                  <li><p>{{behv.behov}}</p></li>
                {% endif %}
                {% endfor %}
              </ul>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% empty %}
  <p>Ingen band er registrert i systemet. Om du tror dette er feil, kontakt systemansvarlig.</p>
  {% endfor %}
  </div>
{% endblock %}
