{% extends 'webapp/base.html' %}

{% block content %}
  <h2>Tidligere konserter</h2>
  <p>Her ser du konserter som har vært på tidligere festivaler arrangert av oss</p>
  <h3>Velg sjanger:</h3>
  <select id="sjangerpicker" name="Sjanger">
    {% for sjanger in sjangre %}
      {% if sjanger == sjangre.0 %}
        <option value="{{sjanger}}" selected>{{sjanger}}</option>
      {% else %}
        <option value="{{sjanger}}">{{sjanger}}</option>
      {% endif %}
    {% endfor %}
  </select><br>
  
  {% if sjangre|length == 1 %}
  <p>Ingen konserter har vært tidligere.</p>
  {% endif %}

  {% for sjanger in sjangre %}
    {% for konsert in tidligere_konserter %}
     {% for band in konsert.band.all %}
      {% if band.sjanger == sjanger %}
        <div class="sjangerkonserter col-sm-4 col" id="{{sjanger}}">
          <h3>{{konsert.konsert}}</h3>
          <p>Scene: {{konsert.scene}}</p>
          <p>Publikumsantall: {{konsert.publikumsantall}}
        </div>
      {% else %}
      <div class="sjangerkonserter" id="{{sjanger}}">
        <p>Det har enda ikke vært noen konserter innen denne sjangeren.</p>
      </div>
      {% endif %}
    {% endfor %}
   {% endfor %}
  {% endfor %}

{% endblock %}
