{% extends 'webapp/base.html' %}

{% block content %}


  <select name="konsertliste" form="prisform">
    {% for konsert in konserter %}
      {% if valgtkonsert == konsert %}
        <option value="{{konsert}}" selected>{{konsert}}</option>
      {% else %}
        <option value="{{konsert}}">{{konsert}}</option>
      {% endif %}
    {% endfor %}
  </select>


    <form method="POST" action="" id="prisform"><br>
      {% csrf_token %}
      <input type="submit" value="Generer pris" class="btn btn-default"/>
    </form><br>


    {% for key, item in scenecost.items %}
      <div class="col-sm-4 col">
      <h3>{{key}}</h3>
      <p>{{item}}</p>
      </div>
    {% endfor %}

    <p>{{error}}</p>
{% endblock %}
