{% extends 'webapp/base.html' %}

{% block content %}
    <h1> Oversikt over scenene og tilhørende konserter:</h1>
    {% for scene in scener %}
        <h2 class="sceneoversikt">{{scene}}:</h2>
        {% for konsert in konserter %}
        <div>
            {% if konsert.scene == scene %}
                <p>{{konsert}} - <i>{{ konsert.dato }}</i></p>
            {% endif %}
        </div>
        {% empty %}
        <p>Ingen konserter på denne scenen.</p>
        {% endfor %}
        {% empty %}
        <p>Ingen scener lagt til enda. Om du tror dette er feil, kontakt systemansvarlig.</p>
    {% endfor %}
{% endblock %}
