{% extends "webapp/base.html" %}
{% block content %}
    <h1>Oversikt over konserter på de ulike festivalene:</h1>
    {% for festival in festivaler %}
        <h2>{{ festival }}</h2>
        {% for konsert in konserter %}
            {% if festival == konsert.festival %}
                <h3> Konsert: {{ konsert.konsert }}</h3>
                {% for band in konsert.band.all %}
                    <p>Band: {{ band }}</p>
                    <p>Rating: {{ band.rating }}</p>
                    <p>Info: {{ band.info }}</p>
            {% endfor %}
                <hr>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
