body, html {
  margin:0;
  width:100%;
  height:100%;
  font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

li{
  display:inline-block;
  margin-left:2%;
}

li > a{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: none;
  font-size: 1.2em;
}

#content{
  padding:1%;
  background-color: #F7F3F2;
  height:97%;
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

.teknikerdiv {
  display:none;
}

.utstyrdiv {
  display: block;
}

.sjangerkonserter{
  display:none;
}

#navbar{
  margin:0;
  background-color: #000;
  opacity: 0.75;
  padding:1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif;
}