body, html {
  margin:0;
  /*width:100%;
  height:100%;*/
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  padding:1%;
  background-color: #F7F3F2;
  height:97%;
  text-align: center;
  margin: 2%;
  height:82vh;
}



.teknikerdiv {
  display: none;
}

.utstyrdiv {
  display: none;
}

.sjangerkonserter {
  display: none;
}

.col-sm-4 {
    margin-right: 2%;
    margin-top: 2%;
    /*width: 25%;
    height: auto;*/
    border: 1px solid #ECD4C8;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FAF2EF;
    color: black;
    display: inline-block;
}

.konsertheader:hover {
    background-color: #D0BC99;
    border: 1px solid #D0BC99;
    border-radius: 3px;
    font-size 1.3em;
    cursor: pointer;
}

/* .............. */


